{% extends "base.html" %}
{% block content %}
<style type="text/css">
    .titlearea{border: 2px solid rgb(120, 120, 243);width: 250px}</style>


    &nbsp;&nbsp;
    <a href="/blog">Main Blog Page</a>
    &nbsp;&nbsp;
    <a href="/newpost">Add a Blog Entry</a>
 
    <br></br>
   <h1><center>Add a Blog Entry</center></h1>
   <br></br> 

    <form method='post' action="/blog?id=id">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;
            Title for new blog:
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<input class=titlearea type="text" name='title'/></div>
        <br></br>
        
        <label>&nbsp;&nbsp;&nbsp;&nbsp;
            Your new blog:
        <div>&nbsp;&nbsp;&nbsp;&nbsp;
                
                 
            <textarea rows="5" cols="30" name='body' type="text"></textarea></div>
        </label>
        <br></br>
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Add Entry"/>
    </label>
        
    </form>
    
{% endblock %}